{% assign project_href = project.redirect | default: project.url | relative_url %}
<li class="project-entry">
  <div class="row no-gutters align-items-center">
    {% if project.img %}
      <div class="col-4 col-sm-3 pr-sm-0 mb-3 mb-sm-0">
        <a href="{{ project_href }}">
          {% include figure.liquid
            loading="eager"
            path=project.img
            sizes="200px"
            alt=project.title
            class="project-thumb z-depth-1 rounded"
          %}
        </a>
      </div>
    {% endif %}
    <div class="{% if project.img %}col-sm-9 col-12{% else %}col-12{% endif %}">
      <div class="project-title">
        <a href="{{ project_href }}">{{ project.title }}</a>
      </div>
      {% if project.description %}
        <p class="project-desc">{{ project.description }}</p>
      {% endif %}
      <div class="project-links">
        {% if project.links %}
          {% for key in project.links %}
            {% assign link_url = project.links[key[0]] %}
            <a class="btn btn-sm z-depth-0" role="button" href="{{ link_url }}">{{ key[0] | replace: '_', ' ' | capitalize }}</a>
          {% endfor %}
        {% endif %}
        {% if project.github %}
          <a class="btn btn-sm z-depth-0" role="button" href="{{ project.github }}">GitHub</a>
        {% endif %}
      </div>
    </div>
  </div>
</li>
